.firstQuoteSection {
    background-color: var(--primary-color);
}
.firstQuoteSectionContainer {
    width: 90%;
    margin: 0 auto;
    blockquote {
        font-size: clamp(1.3rem, 3vw, 1.8rem);
        text-wrap: balance;
        margin-bottom: 35px;
    }
    figure {
        display: flex;
        align-items: center;
        gap: 26px;
        img {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}

@media (min-width: 768px) {
    .firstQuoteSectionContainer {
        blockquote {
            text-align: center;
        }
        figure {
            justify-content: center;
        }
    }
}
